<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<!-- <mapper namespace="com.atguigu.mapper.EmployeeMapper"> -->
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserUseMapper">


<!--    findByPage-->

    <resultMap id="sysUserUseMap" type="com.atguigu.spzx.model.entity.system.SysUser" autoMapping="true"></resultMap>
    <sql id="columns">
        id,username userName,password,name,phone,avatar,description,status,update_time,create_time,is_deleted
    </sql>
<!--    keyword-->
    <select id="findByPage" resultMap="sysUserUseMap">
        select <include refid="columns"/>
        from sys_user
        <where>
            <if test="keyword != null and keyword != ''">
                and username like concat('%',#{keyword},'%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted=0
        </where>
        order by id desc
    </select>
    <!--    selectedName-->
    <select id="selectedName" resultMap="sysUserUseMap">
        select <include refid="columns"></include> from sys_user where username = #{ userName };
    </select>


    <insert id="insertUserUseMapper" >
        insert into sys_user(id,username,password,name,phone,avatar,description
        ,status,update_time,create_time,is_deleted)
        values(#{id},#{userName},#{password},
        #{name},#{phone},#{avatar},#{description}
        ,1,now(),now(),0)
    </insert>


    <update id="updateSysUser" >
        update sys_user set
        <if test="userName != null and userName != ''">
            username = #{ userName } ,
        </if>
        <if test="password != null and password != ''">
            password = #{ password } ,
        </if>
        <if test="name != null and name != ''">
            name = #{ name } ,
        </if>
        <if test="phone != null and phone != ''">
            phone = #{ phone } ,
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{ avatar } ,
        </if>
        <if test="description != null and description != ''">
            description = #{ description } ,
        </if>
        <if test="status != null and status != ''">
            status = #{ status } ,
        </if>
        update_time =  now()
        where id = #{ id }
    </update>

    <update id="deleteById" >
        update sys_user set update_time = now(),is_deleted = #{ 1 } where id = #{ id };
    </update>



</mapper>