<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<!-- <mapper namespace="com.atguigu.mapper.EmployeeMapper"> -->
<mapper namespace="com.atguigu.spzx.user.mapper.UserInfoMapper">

    <resultMap id="userInfoMap" type="com.atguigu.spzx.model.entity.user.UserInfo" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,username,password,nick_name,avatar,sex,phone,memo,open_id,union_id,last_login_ip,last_login_time,status,create_time,update_time,is_deleted
    </sql>

    <!--    int insert(UserInfo userInfo);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (
        id,
        username,
        password,
        nick_name,
        avatar,
        sex,
        phone,
        memo,
        open_id,
        union_id,
        last_login_ip,
        last_login_time,
        status
        ) values (
        #{id},
        #{username},
        #{password},
        #{nickName},
        #{avatar},
        #{sex},
        #{phone},
        #{memo},
        #{openId},
        #{unionId},
        #{lastLoginIp},
        #{lastLoginTime},
        #{status}
        )
    </insert>

<!--    UserInfo selectByUsername(String username);-->
    <select id="selectByUsername" resultMap="userInfoMap">
        select <include refid="columns"/> from user_info where username = #{ username }
<!--        select <include refid="columns"/> from user_info where id = 1-->
<!--        select * from category where id = 1-->
    </select>

</mapper>